.home
    position: relative
    min-height: 500px
    height: 100vh
    display: flex
    align-items: center
    overflow: hidden
    .my-info
        width: 55%
    .hello-heading
        margin-bottom: 20px
    .work-title
        margin: 20px 0
        font-size: .9em
    .cta-text
        margin-bottom: 30px
    
    
    .contact-cta
        position: relative
        .background-graphic
            position: absolute
            top: -170px
            width: 800px
            -webkit-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
        .contact-link
            display: block
        .contact-circle
            -webkit-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            position: absolute
            top: -110px 
            left: 105px
            width: 380px
            transition: .2s all
            &:hover
                transform: scale(1.03)
